
.card{
    margin-top: 2.5rem;
}

.card-button-container{
    margin-top: -1.25rem;
    color: #fff;
}

.card-level-button{
    background:var(--card-button);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: all .3s ease-in-out;

}
.card-level-button:hover{
    filter: grayscale(50%);
}

.card-level-button p{
    margin-top: -0.25rem; 
}

.cheerful-text{
    font-weight: 700;
    font-size: 0.8rem;
    margin: 0 0 0 0.5rem;
}

.card-face{
    font-size: 0.9rem;
    height: 26rem;
    width: 15rem;
    background-color: #fff;
    color: #333;
    border: 10px solid var(--card-button);
}

.quizz-card-face {
    padding: 5rem;
    font-size: 0.9rem;
    height: 26rem;
    background-color: #fff;
    color: #333;
    border: 10px solid var(--card-button);
}

.card-navigation-button{
    background:var(--card-button);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.card-navigation-button:hover{
    filter: grayscale(50%);
}



@media screen and (max-width: 536px){


    .card{
        margin-top: 4rem;
    }

    .card-button-container{
        margin-top: 0
    }

    .card-face{
        height: 26rem;
        width: 15rem;
        margin-top: 0;
        margin-bottom: 0;
        background-color: #fff;;
        /* background:var(--card-button); */
        color: #333;
        border: 10px solid #333;
    }
}