.loader {
    width: 100px;
    height: 100px;
    background: linear-gradient(
      165deg,
      rgba(189, 0, 81) 0%,
      rgb(189, 0, 81) 40%,
      rgb(189, 0, 81) 98%,
      rgb(189, 0, 81) 100%
    );
    border-radius: 50%;
    position: relative;
    z-index: 99;
  }

  .loader:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom: 0 solid #ffffff05;
    box-shadow: 0 -10px 20px 20px #ffffff40 inset,
      0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
      0 -3px 2px #ffffffbb inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
      0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
    filter: blur(3px);
    animation: 2s rotate linear infinite;
    z-index: 99;
  }

  @keyframes rotate {
    100% { transform: rotate(360deg) }
  }
      




.card__border {
    border: 10px solid var(--card-button);

}

.kanji-category-btn {
  border: 10px solid var(--card-button)
}

.search-btn-icon {
  background-image: url("../../images/magnifier.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.magnifier {
  top: 15%;
  right: 4%;
  fill: var(--card-button);
}

.magnifier-dictionary {
  top: 10px;
  right: 10px;
  fill: var(--card-button);
}

.search-input {
  border: 2px solid var(--card-button)
}

.character {
  color: var(--card-button)
}

.add-button-icon {
  color: var(--card-button)
}

@media screen and (max-width: 560px) {
  .selection-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}